// Body
$body-bg: #fff;
$purple: #5352ed;
$hard-purple: #3742fa;
$red: #ff4757;
$dark: #2f3542;

$theme-colors: (
  'primary': $purple,
  'purple': $purple,
  'hard-purple': $hard-purple,
  'red': $red,

);

$table-variants: (
  "dark":    $purple,
);

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
